<div style="height: 86px;">
    <app-header>
    </app-header>
</div>
<main class="bg-lightBlue" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2>Who we are?</h2>
                <h4 class="font_4" style="font-size: 30px; text-align: justify;"><span style="font-size: 30px;"><span ><span s>The Genesis</span></span>
                    </span>
                </h4>
                <p style="text-align: justify;"><span style="font-size: 14px; font: normal normal normal 15px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;">A syllogism is a kind of logical argument that applies deductive reasoning to arrive at a conclusion based on two or more propositions that are asserted or assumed to be true.<br>
    In its earliest form, defined by Aristotle, from the combination of a general statement (the major premise) and a specific statement (the minor premise), a conclusion is deduced. For example, knowing that all men are mortal (major premise) and that Socrates is a man (minor premise), we may validly conclude that Socrates is mortal. (Source: https://en.wikipedia.org/wiki/Syllogism)<br>
    With this genesis, Syllogistek was formed which will focus on data and its reasoning in various industry.<br>
    </span></p>
                <h4 class="font_4" style="font-size: 30px; text-align: justify;"><span style="font-size: 30px;"><span ><span>Why Syllogistek</span></span>
                    </span>
                </h4>
                <p style="text-align: justify;"><span style="font-size: 14px; font: normal normal normal 15px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;"><span style="font-weight: bold;">Air is omnipresent</span> – it’s the organisms of the world
                    that apply respective selective assimilation to use air for sustenance. By the same analogy, <span style="font-weight: bold;">data is ever encompassing</span> – it’s a challenge to extract and process the abundance to form intelligence
                    and to transform to cater to business needs.<br> Syllogistek Solutions Private Limited helps you learn the art and science behind extracting the right data based on need and implement the same for various industries.<br> With our pool
                    of experts from Industry, we have the right program design, program flow, program choices and affordable pricing to suite your needs.<br> – If you are an IT Manager, decision maker in the IT for Government, Public or Private Sector
                    company, Syllogistek will help you <span style="font-weight: bold; text-decoration: underline;">Transform</span> make the right decision for your company.<br> – If you are currently a programmer, analyst or a database administrator,
                    Syllogistek is the right place for you to <span style="font-weight: bold; text-decoration: underline;">Re-skill</span> and be current with changing times.<br> – If you are an Engineer, Chartered Accountant, Statistician or student
                    interested in disruptive technologies, Syllogistek is the right place for you to <span style="font-weight: bold; text-decoration: underline;">Upgrade</span>&nbsp;in the latest technology trend which will rule the world in upcoming
                    years.
                    <br> – Whatever you do today in the Industry, Syllogistek will help you <span style="font-weight: bold; text-decoration: underline;">Excel</span> equipped with latest technologies and be ready for tomorrow.<br>
                    </span>
                </p>
                <p style="text-align: justify;"><span style="font-style: italic;"><span style="font-weight: bold;"><span style="font-family: helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;"><span style="font-size: 14px;"><span >Our Goal is to be your </span><span><span style="text-decoration: underline;">TRUE</span></span><span> partner.</span></span>
                    </span>
                    </span>
                    </span>
                </p>


            </div>


        </div>
    </div>
</main>
<div class="bg-lightBlue border_f_top">
    <app-footer></app-footer>
</div>