<div class="mb-3" style="background-color: #fff;box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);">
    <div id="EServices" class="service_card_text ">
        <h6>Enterprise Services</h6>
    </div>
    <div style="position: relative;" class="pt-5">
        <div class="my-2 pt-0 pt-md-5  pb-2  text-center">
            <p class="px-5">Our team of technical experts provide hi-tech consultation and solutions to businesses to stay <span style="color: rgb(67, 100, 161);">relevant</span> in today’s challenging economy, by helping them build responsive websites to reach targeted
                clientele through <span style="color: rgb(67, 100, 161);">Digital Marketing </span> and building Intelligent applications to help managements make decisions faster, better, cheaper using <span style="color: rgb(67, 100, 161);"> Application Development and Maintenance</span>                solutions
            </p>
            <h5 style="color: rgb(67, 100, 161);">Currently offering the following enterprise services:
            </h5>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
            <div class="d-flex">
                <div class="card-conainer">
                    <a> <img width="100%" src="../../../assets/enterprise/appmen.jpg" alt=""></a>
                </div>
                <div class="card-conainer">
                    <a> <img width="100%" src="../../../assets/enterprise/appdev.jpg" alt=""></a>
                </div>
            </div>
            <div class="d-flex ">
                <div class="card-conainer">
                    <a>
                        <img width="100%" src="../../../assets/enterprise/3.jpg" alt="">
                    </a>
                </div>
                <div class="card-conainer">
                    <a>
                        <img width="100%" src="../../../assets/enterprise/4.jpg" alt="">
                    </a>

                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center my-2">
            <button class="btn btn-primary" type="button" (click)="openmodel()">Contact Us</button>
        </div>
        <header class="w-100" style="background-color: #9fd5a899;">
            <h6 class="text-center p-4">For our existing partners, please <a href="http://www.syllogistek.com/support/">click here</a> to open a maintenance ticket
            </h6>
        </header>
    </div>


</div>