//  Card Title strip START
.service_card_text h6 {
    margin-top: 40px;
    margin-bottom: .375rem;
    position: absolute;
    // left: -15rem
    // position: relative;
    // left: -5rem;
    // top: .75rem;
    color: #fff;
    line-height: 1.75rem;
    text-indent: 1.5rem;
    padding-right: 15rem;
    // background-image: linear-gradient(90deg,#017a9b 0,#018377);
    background-image: linear-gradient(90deg, #1e4d71 0, #4388b1);
}

.service_card_text h6:after {
    position: absolute;
    content: "";
    top: 0;
    width: 0;
    height: 0;
    right: -1rem;
    -webkit-transform: rotate(1turn);
    border-color: #4388b1 transparent transparent;
    border-style: solid;
    border-width: 1.75rem 1rem 0 0;
}