// testimonial-banner 
.testimonial-container {
    position: relative;
    max-height: 8rem;
    top: -3rem;
    z-index: 1;
}

.testimonial-banner {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-bottom: 8px solid rgb(67, 136, 177);
}

.testimonial-profile {
    // position: absolute;
    // top: -0.675rem;
    // left: -10.765px;
    // width: 9rem;
    max-height: 8rem;
    border-radius: 50%;
    // min-width: 100px;
    // max-width: 200px;
}

.testimonial_title {
    // position: relative;
    // min-width: 25rem;
    // left: 9rem;
    // letter-spacing: 1px;
    max-height: 8rem;
    color: green;
    // display: flex;
    // flex-direction: column;
}

.quote {
    color: white;
    width: 55%;
    margin-left: 1rem;
    margin-right: 2rem;
}