<div class="cube_outline">
    <a target="_blank" href="https://www.facebook.com/pg/Syllogistek/photos/">
    <div class="cubeSpinnerContainer">
        <div class="shadowContainer">
            <div class="shadow">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="actualCubeContainer">
            <div class="cubeFaces">
                <div class="cubeFace cubeFaceFront"><img class="javaScriptLogo" src="../../../assets/Cubeimages/side1.jpg" loading="lazy" alt="javascript logo"></div>
                <div class="cubeFace cubeFaceBack"><img class="pythonLogo" src="../../../assets/Cubeimages/side2.jpg" loading="lazy" alt="python logo"></div>
                <div class="cubeFace cubeFaceTop">&nbsp;</div>
                <div class="cubeFace cubeFaceBottom">&nbsp;</div>
                <div class="cubeFace cubeFaceLeft"><img class="goLogo" src="../../../assets/Cubeimages/side3.jpg" loading="lazy" alt="golang logo"></div>
                <div class="cubeFace cubeFaceRight"><img class="cppLogo" src="../../../assets/Cubeimages/side4.jpg" loading="lazy" alt="c++ logo"></div>
            </div>
        </div>
    </div>
    </a>
</div>