<div class="bg-lightBlue pb-1">
    <div>
        <main>
            <article>
                <div class="pt-4">
                    <div class="container">
                        <header class="entry-header">
                            <h1 class="entry-title">Refund &amp; Cancellation Policy</h1>
                        </header>
                        <ul>
                            <li style="text-align: justify;">Training course will not be confirmed until registration is complete and billing information is received in full.</li>
                            <li style="text-align: justify;">In order to cancel or reschedule a confirmed training please submit an email request to hr@syllogistek.com.</li>
                            <li style="text-align: justify;">Please submit all cancellation requests within 30 calendar days of registration and no later than 10 days prior to the scheduled course date in order to receive a full refund of paid registration fees.</li>
                            <li style="text-align: justify;">No shows and cancellations not made within the specified cancellation period will incur the full cost of registration.</li>
                        </ul>
                        <h3>Cancellation by Syllogistek Systems</h3>
                        <ul>
                            <li style="text-align: justify;">Syllogistek Systems reserves the right to cancel any training course due to insufficient enrollment at least 10 calendar days in advance of the scheduled course date. Notice will be provided with the option to reschedule for
                                a future course date or to receive a full refund of registration fees.</li>
                            <li style="text-align: justify;">Syllogistek Systems is not responsible for any expenses incurred by the customer if a training course is cancelled.</li>
                            <li style="text-align: justify;">If a training class is cancelled due to any unforeseen circumstances such as weather or natural disaster, the customer is entitled to reschedule for a future training course.</li>
                        </ul>
                    </div>
                </div>
                <!-- .entry-content -->
            </article>
            <!-- #post-## -->

        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>