<div style="background-color: #fff;box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);">
    <div class="service_card_text ">
        <h6>{{title}}</h6>
    </div>
    <div *ngIf="isSmallScreen">
        <app-collapsable-list [id]=id [pane]="pane" [data]="data"></app-collapsable-list>
    </div>

    <div *ngIf="!isSmallScreen" style=" 
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 1rem;">
        <div class="service_card_text d-flex justify-content-center">
            <app-content-switcher class="mt-4" [items]="pane" (active)="selectedContent($event)"></app-content-switcher>
        </div>


        <div>
            <div [id]="id" class="carousel slide" data-interval="5000" data-ride="carousel">
                <div class="carousel-inner">

                    <div *ngFor="let items of selectedView; let i = index" class="carousel-item" [ngClass]="{'active': i==0 }">
                        <div class="d-flex">
                            <a style="cursor: pointer;" [@list1]="i" class="course-card" *ngFor="let item of items" (click)="openCourseModal(item)">
                                <div class="course_card_header">
                                    <div class="course_card_header-prefix">
                                        <img class="course_card_header" style="width: 100%" src="../../../assets/{{item.course_img}}">
                                    </div>
                                    <div *ngIf="item.tag" class="course_card_flag course_card_flag--new">{{item.tag}}</div>
                                </div>
                                <div class="course_card_body">{{item.courseName}}</div>
                                <div class="course_card_footer">
                                    <h5 class="course_card_footer__title">{{ item.class ? 'CLASSES' : 'Duration'}}</h5>
                                    <div class="course_card_footer__body">{{item.class ? item.class : item.duration}}</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="controls-container">
                        <a class="carousel-control-prev" href="{{'#' + id}}" role="button" data-slide="prev">
                            <div style="transform: rotateY(180deg);">
                                <svg aria-hidden="true" height="54" style="fill:#4388b1;background: azure;
                border-radius: 50%;
                padding-left: 0.3rem;" viewBox="0 0 32 32" width="54">
                <path
                  d="M22 15.89c0 .319-.146.632-.414.82l-10.175 7.13a.868.868 0 0 1-.499.16c-.503 0-.912-.438-.912-.98V8.98c0-.186.049-.367.141-.524.27-.457.834-.593 1.26-.304l10.174 6.91c.11.075.205.174.276.292.1.165.149.35.149.533v.002z"
                  fill-rule="evenodd"></path>
              </svg>
                            </div>

                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="{{'#' + id}}" role="button" data-slide="next">
                            <div>
                                <svg aria-hidden="true" height="54" style="fill:#4388b1;background: azure;
            border-radius: 50%;
            padding-left: 0.3rem;" viewBox="0 0 32 32" width="54">
                <path
                  d="M22 15.89c0 .319-.146.632-.414.82l-10.175 7.13a.868.868 0 0 1-.499.16c-.503 0-.912-.438-.912-.98V8.98c0-.186.049-.367.141-.524.27-.457.834-.593 1.26-.304l10.174 6.91c.11.075.205.174.276.292.1.165.149.35.149.533v.002z"
                  fill-rule="evenodd"></path>
              </svg>
                            </div>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <header class="w-100" style="background-color: #9fd5a899;">
        <a style="color: black; text-decoration: none;" target="_blank" href="https://syllogistek.live/"> <h6 class="text-center p-4">Please <a  target="_blank" href="https://syllogistek.live/">click here</a> to open Learning Management System
        </h6></a>
    </header>
</div>