<div  class="">
    <div style="box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);" id="main_banner" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
            <div  class="carousel-item active">
                <picture >
                    <source style="background-repeat: no-repeat;" media="(max-width: 686px)" srcset="../assets/poster1_phone.png">
                    <img class="d-block w-100" src="../assets/poster1.png" alt="First slide">
                </picture>
                <div class="enroll-btn d-flex justify-content-center align-items-center">
                    <a style="z-index: 1;" type="button"  target="_blank" href="https://forms.gle/kMjU8sfHqdLxqaHy6" class="btn btn-primary">Enroll in Our Courses </a>
                </div>
                <div class="slide-banner m-3">
                    <div>
                        <img src="../../../assets/slide_banner1.png" width="100%">
                        <!-- <div class="slide-true mx-5 mt-1 mt-lg-5 ">
                            <div class="row">
                                <h1 class="text-white fw-200">
                                    <span class="nowrap fw-200">Our Goal is to help </span>
                                    <span class="nowrap fw-200"> YOU</span>
                                </h1>
                            </div>
                            <div class="true">
                                <blockquote class="introduction__paragraph fw-200">
                                    <h1 class="fw-200"><span class="iword">T</span>ransform</h1>
                                    <h1 class="fw-200"><span class="iword">U</span>pgrade</h1>
                                    <h1 class="fw-200"><span class="iword">E</span>xcel</h1>
                                    <h1 class="fw-200"><span class="iword">R</span>eskill</h1>
                                </blockquote>
                            </div>

                            <h1 class="row nowrap text-white">
                                <span class="fw-200">as a ^ partner.</span>
                            </h1>

                        </div> -->

                        <!-- <button style="border-radius: 0;" class="btn btn-primary">Visit Here!</button> -->
                    </div>

                </div>
            </div>
            <div class="carousel-item"> 
                <picture>
                    <source  media="(max-width: 686px)" srcset="../assets/poster2_phone.png">
                    <img  class="d-block w-100" src="../assets/poster2.png" alt="Second slide">
                </picture>
                <div class="enroll-btn d-flex justify-content-center align-items-center">
                    <a style="z-index: 1;" type="button"  target="_blank" href="https://forms.gle/kMjU8sfHqdLxqaHy6" class="btn btn-primary">Enroll in Our Courses </a>
                </div>
                <!-- <img class="d-block w-100" src="../assets/poster2.png" alt="Second slide"> -->
                <!-- <div class=" slide-banner">
                    <div class="m-1 slide-true">
                        <img src="../../../assets/slide_banner3.png" width="100%">
                      
                    </div>


                </div> -->
            </div>
            <div  class="carousel-item">
                <picture>
                    <source media="(max-width: 686px)" srcset="../assets/poster3_phone.png">
                    <img class="d-block w-100" src="../assets/poster3.png" height="90%" alt="Third slide">
                </picture>
                <div class="enroll-btn d-flex justify-content-center align-items-center">
                    <a style="z-index: 1;" type="button"  target="_blank" href="https://forms.gle/kMjU8sfHqdLxqaHy6" class="btn btn-primary">Enroll in Our Courses </a>
                </div>

                <!-- <div class=" slide-banner">
                    <div class="m-1 slide-true">
                        <img src="../../../assets/slide_banner2.png" width="100%">
                    </div>


                </div> -->
            </div>
        </div>
        <div class="controls-container">
            <div class="carousel-controls">
                <a class="left-control" href="#main_banner" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right-control" href="#main_banner" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <app-testimonial-slide></app-testimonial-slide>

</div>