<footer class="pb-1">
    <br>
    <div class="footer-div" style="word-break: break-all;">
        <div class="text-center d-flex flex-column justify-content-center flex-sm-row pb-2">
            <a routerLink="term">Terms &amp; Conditions</a> <span class="d-none d-sm-block">&nbsp;&nbsp;|&nbsp;&nbsp;</span> <a routerLink="privacy-policy">Privacy Policy</a> <span class="d-none d-sm-block">&nbsp;&nbsp;|&nbsp;&nbsp;</span> <a routerLink="refund-policy">cancellation &amp; Refund Policy</a>
        </div>
        <p class="text-center" style="font-size: 12px;">SYLLOGISTEK SYSTEMS PRIVATE LTD., #502 SREE NILAYAM, LANCO HILLS ROAD, HYDERABAD – 500089</p>
    </div>

</footer>